
      	<div style="padding: 30px 130px 60px 130px">
           <div class="inbox-form" id="custom-button">
        			<!-- <form method="post" action="#"> -->
                <img src="./assets/images/agir.png"><br>
        			<strong>AGIT AVEC NOUS?</strong><br>

La fondation soutient les projets des associations situés dans ses territoires, soit le nord, pas de calais, 
la région parisienne, la région lyonnaise, niçoise et nantaise.
<br>
Les domaines dans lesquels nous intervenons : éducation-formation, accès à l'emploi, accès à la santé et l'environnement<br>
La Fondation ne finance pas : les projets personnels, les missions locales, les voyages pédagogiques ou culturels,
     les raids d’aventures, les bourses d’étude<br>
<ul>
    <strong> fondation Norsys agit dans les domaines suivants :</strong>
    <li>L'education</li>
    <li>L'environnement</li>
    <li>L'accès à l'emplois</li>
    <li>La santé</li>
</ul>
<ul>
   <strong> modes d'intervention :</strong>
    <li>Mécénat de compétence notamment en informatique (refontes de site, bases de données, 
        plateformes d'échanges par ex, voyez les projets dans la rubrique IT Solidaire)</li>
    <li>Bénévolat de salariés dans les régions concernées (RH, interventions métiers par ex)</li>
    <li>Mécénat financier, dans la mesure ou celui-ci est un complément des autres aides en 1 ou 2</li>
    <li>Le mécénat financier seul est octroyé dans le cadre du concours annuel 
        "Les trophées de la fondation norsys" organisé en début d'année</li>
</ul>
           </div></div>
  <!--<div class="wrapper row4 bgded overlay" style="background-image:url('assets/images/03.png');">
      <footer id="footer" class="hoc clear"> 
        <!-- ################################################################################################ -->
        <!--<div class="one_third first">
          <h6 class="heading">Adresse</h6>
          <ul class="nospace btmspace-30 linklist contact">
            <li><i class="fa fa-map-marker"></i>
              <address>
              Fondation Norsys Maroc, Sidi Abbad, villa 38, 40000 Marrakech
              </address>
            </li>
            <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
            <li><i class="fa fa-envelope-o"></i> itaaime@norsys.fr</li>
          </ul>
        </div>-->
        <!--<div class="one_third" id="contact_us">
          <h6 class="heading">Contactez-nous</h6>
          <form method="post" action="#">
            <fieldset>
              <input class="btmspace-15" type="text" value="" placeholder="Name">
              <input class="btmspace-15" type="text" value="" placeholder="Email">
              <input class="btmspace-15" type="text" value="" placeholder="Message">
              <button type="submit" value="submit">Envoyer</button>
            </fieldset>
          </form>
        </div>-->
        <!-- ################################################################################################ -->
      <!--</footer>
    </div>-->
    <div class="wrapper row5">
      <div id="copyright" class="hoc clear"> 
        <!-- ################################################################################################ -->
        <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved - <a >NORSYS</a></p>
      </div>
    </div>
    <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
