
<div class="wrapper row0">
  <div id="topbar" class="hoc clear"> 
    <div class="fl_left">
      <ul>
        <li><i class="fa fa-home"></i> Sidi Abbad, villa 38, 40000 Marrakech</li>
        <li><i class="fa fa-envelope-o"></i> itaaime@norsys.fr</li>
      </ul>
    </div>
    <div class="fl_right">
      <ul>
        <li><i class="fa fa-facebook"></i></li>
        <li><i class="fa fa-twitter"></i></li>
      </ul>
    </div>
  </div>
</div>
<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    <div id="logo" class="fl_left">
      <img id="logo_fondation" 
           src="assets/images/logo_fondation.png"/>
    </div>
  </header>
  <nav id="mainav" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <ul class="clear" id="nav_ul">
      <li><a href="index.html">Accueil</a></li>
      <li><a class="drop" href="#">Fondation</a>
        <ul>
          <li><a href="#">Mot du président</a></li>
          <li><a href="#">Qui sommes-nous ?</a></li>
          <li><a href="#">Agir avec nous</a></li>
        </ul>
      </li>
      <li><a class="drop" href="#">Domaines</a>
        <ul>
          <li><a href="#">Education</a></li>
          <li><a href="#">Environnement</a></li>
          <li><a href="#">Emploi</a></li>
          <li><a href="#">IT Solidaire</a></li>
        </ul>
      </li>
      <li><a class="drop" href="#">Evenements</a>
        <ul>
          <li><a href="#">Lancement de la 6e édition des Trophées de la Fondation</a></li>
          <li><a href="#">Trophées de la fondation 5e édition: Les lauréats</a></li>
          <li><a href="#">L'Automne de Marrakech</a></li>
          <li><a href="#">Les bikers solidaires</a></li>
          <li><a href="#">Parcours sensoriel et sensitif </a></li>
        </ul>
      </li>
      <li><a class="drop" href="#">Contact</a>
        <ul>
          <li><a routerLink="proposition">Proposez votre projet</a></li>
          <li><a href="#">Contactez-nous</a></li>
        </ul>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </nav>
</div>
<router-outlet></router-outlet>