
    <div class="wrapper bgded overlay" style="background-image:url('assets/images/apples.png');">
      <div id="pageintro" class="hoc clear"> 
        <!-- ################################################################################################ -->
        <article>
          <h3 class="heading">Fondation Norsys</h3>
          <p>Diam libero interdum at fringilla id interdum eu ante in ornare nisi vitae massa etiam eget lacus sit amet eros tempus elementum phasellus nisi dui condimentum vel imperdiet et adipiscing vitae ut tellus sit amet erat elementum.</p>

        </article>
      </div>
    </div>

    <div class="wrapper row3">
      <section class="hoc container clear"> 
        <!-- ################################################################################################ -->
        <div class="sectiontitle padding_element" >
          <h6 class="heading">NOS DOMAINES D'ENGAGEMENT</h6>
        </div>
        <ul class="nospace group services">
          <li class="one_quarter first">
            <article class="inverse"><a href="#"><i class="fa fa-3x fa-graduation-cap"></i></a>
              <h6 class="heading font-x1"><a href="#">ÉDUCATION</a></h6>
              <p>Soutenir et participer aux initiatives permettant l’accès à l’éducation pour tous</p>
            </article>
          </li>
          <li class="one_quarter">
            <article><a href="#"><i class="fa fa-3x fa-pagelines"></i></a>
              <h6 class="heading font-x1"><a href="#">ENVIRONNEMENT</a></h6>
              <p>S’engager dans l’éducation à l’environnement et la préservation de ...</p>
            </article>
          </li>
          <li class="one_quarter">
            <article class="inverse"><a href="#"><i class="fa fa-3x fa-briefcase"></i></a>
              <h6 class="heading font-x1"><a href="#">ACCÈS À L'EMPLOI</a></h6>
              <p>Permettre un meilleur accès à l’emploi aux personnes susceptibles d’être discriminées</p>
            </article>
          </li>
          <li class="one_quarter">
            <article><a href="#"><i class="fa fa-3x fa-handshake-o"></i></a>
              <h6 class="heading font-x1"><a href="#">IT SOLIDAIRE</a></h6>
              <p>Mettre nos compétences technologiques et numériques au service du monde associatif</p>
            </article>
          </li>
        </ul>
        <!-- ################################################################################################ -->
      </section>
    </div>
    <div class="wrapper row2">
      <figure class="hoc container clear">
        <figcaption class="sectiontitle">
          <h6 class="heading">Evenements</h6>
        </figcaption>
        <div class="container" id="timeline_container">
          <ul class="timeline">
            <li>
              <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <img class="img-responsive" src="assets/images/02.jpg" />
                </div>
                <div class="timeline-body">
                  <p>LANCEMENT DE LA 6 ÈME ÉDITION DES TROPHÉES DE LA FONDATION</p>
                </div>
              </div>
            </li>
            
            <li  class="timeline-inverted">
              <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <img class="img-responsive" src="assets/images/02.jpg" />
                  
                </div>
                <div class="timeline-body">
                  <p>TROPHÉES DE LA FONDATION 5ÈME ÉDITION: LES LAURÉATS</p>
                 
                </div>
              </div>
            </li>

            <li>
              <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <img class="img-responsive" src="assets/images/02.jpg" />
                  
                </div>
                <div class="timeline-body">
                  <p>LES BIKERS SOLIDAIRES</p>
                  
                </div>
              </div>
            </li>
            
            <li  class="timeline-inverted">
              <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <img class="img-responsive" src="assets/images/02.jpg" />
                  
                </div>
                <div class="timeline-body">
                  <p>L'AUTOMNE DE MARRAKECH</p>
                  
                </div>
              </div>
            </li>

            <li>
              <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <img class="img-responsive" src="assets/images/02.jpg" />
                  
                </div>
                <div class="timeline-body">
                  <p>PARCOURS SENSORIEL ET SENSITIF</p>
                  
                </div>
              </div>
            </li>

            <li class="clearfix" style="float: none;"></li>
          </ul>
        </div>
      </figure>
    </div>
    <div class="wrapper row4 bgded overlay" style="background-image:url('assets/images/03.png');">
      <footer id="footer" class="hoc clear"> 
        <!-- ################################################################################################ -->
        <div class="one_third first">
          <h6 class="heading">Adresse</h6>
          <ul class="nospace btmspace-30 linklist contact">
            <li><i class="fa fa-map-marker"></i>
              <address>
              Fondation Norsys Maroc, Sidi Abbad, villa 38, 40000 Marrakech
              </address>
            </li>
            <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
            <li><i class="fa fa-envelope-o"></i> itaaime@norsys.fr</li>
          </ul>
        </div>
        <div class="one_third" id="contact_us">
          <h6 class="heading">Contactez-nous</h6>
          <form method="post" action="#">
            <fieldset>
              <input class="btmspace-15" type="text" value="" placeholder="Name">
              <input class="btmspace-15" type="text" value="" placeholder="Email">
              <input class="btmspace-15" type="text" value="" placeholder="Message">
              <button type="submit" value="submit">Envoyer</button>
            </fieldset>
          </form>
        </div>
        <!-- ################################################################################################ -->
      </footer>
    </div>
    <div class="wrapper row5">
      <div id="copyright" class="hoc clear"> 
        <!-- ################################################################################################ -->
        <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved - <a href="#">NORSYS</a></p>
      </div>
    </div>
    <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
