
    <div class="wrapper bgded overlay" style="background-image:url('assets/images/apples.png');">
      <div id="pageintro" class="hoc clear"> 
        <!-- ################################################################################################ -->
        <article>
          <h3 class="heading">Fondation Norsys</h3>
          <p>
            La fondation Norsys Afrique et une fondation active dans quatre domaines bien détérminé, l'éducation, l'environnement, l'accès à l'emplois et la santé.
        
          </p>
        </article>
      </div>
    </div>

    <div class="wrapper row3">
      <section class="hoc container clear"> 
        <!-- ################################################################################################ -->
        <div class="sectiontitle padding_element" >
          <h6 class="heading">NOS DOMAINES D'ENGAGEMENT</h6>
        </div>
        <ul class="nospace group services">
          <li class="one_quarter first">
            <article class="inverse"><a ><i class="fa fa-3x fa-graduation-cap"></i></a>
              <h6 class="heading font-x1"><a >ÉDUCATION</a></h6>
              <p>Soutenir et participer aux initiatives permettant l’accès à l’éducation pour tous</p>
            </article>
          </li>
          <li class="one_quarter">
            <article><a ><i class="fa fa-3x fa-pagelines"></i></a>
              <h6 class="heading font-x1"><a >Agriculture</a></h6>
              <p>S’engager dans l’éducation environemental et la préservation de l’environnement</p>
            </article>
          </li>
          <li class="one_quarter">
            <article class="inverse"><a ><i class="fa fa-3x fa-briefcase"></i></a>
              <h6 class="heading font-x1"><a >ACCÈS À L'EMPLOI</a></h6>
              <p>Permettre un meilleur accès à l’emploi aux personnes susceptibles d’être discriminées</p>
            </article>
          </li>
          <li class="one_quarter">
            <article><a ><i class="fa fa-3x fa-heart-o"></i></a>
              <h6 class="heading font-x1"><a >SANTÈ</a></h6>
              <p>Mettre nos compétences au service sanitaire pour l'amélioré </p>
            </article>
          </li>
        </ul>
        <!-- ################################################################################################ -->
      </section>
    </div>
    <div class="wrapper row2">
      <figure class="hoc container clear">
        <figcaption class="sectiontitle">
          <h6 class="heading">Evenements</h6>
        </figcaption>
        <div class="container" id="timeline_container">
          <ul class="timeline" >
            <li *ngFor="let publication of publications"  [ngClass]="{'timeline':publication.idPublication%2 === 0, 'timeline-inverted':publication.idPublication%2 === 1}" >
              <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <img class="img-responsive" style="float: left" 
                  src="http://localhost:8080/fondation/public/getPublictionImage?idPublication={{publication?.idPublication}}"
                                               />
                </div> 
                <div class="timeline-title" style="width: 85px;float: left;margin-left: 10px">
                  <p>{{publication?.titre}}</p>
                  <div class="test">
                     <p>{{publication?.description}}</p> 
                  </div>
                </div>
              </div>
            </li>
            
            <li class="clearfix" style="float: none;"></li>
          </ul>
        </div>
      </figure>
    </div>
    <div class="wrapper row4 bgded overlay" style="background-image:url('assets/images/03.png');">
      <footer id="footer" class="hoc clear"> 
        <!-- ################################################################################################ -->
        <div class="one_third first">
          <h6 class="heading">Adresse</h6>
          <ul class="nospace btmspace-30 linklist contact">
            <li><i class="fa fa-map-marker"></i>
              <address>
              Fondation Norsys Maroc, Sidi Abbad, villa 38, 40000 Marrakech
              </address>
            </li>
            <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
            <li><i class="fa fa-envelope-o"></i> itaaime@norsys.fr</li>
          </ul>
        </div>
        <div class="one_third" id="contact_us">
          <h6 class="heading">Contactez-nous</h6>
          <form method="post" action="#">
            <fieldset>
              <input class="btmspace-15" type="text" value="" placeholder="Name">
              <input class="btmspace-15" type="text" value="" placeholder="Email">
              <input class="btmspace-15" type="text" value="" placeholder="Message">
              <button type="submit" value="submit">Envoyer</button>
            </fieldset>
          </form>
        </div>
        <!-- ################################################################################################ -->
      </footer>
    </div>
    <div class="wrapper row5">
      <div id="copyright" class="hoc clear"> 
        <!-- ################################################################################################ -->
        <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved - <a >NORSYS</a></p>
      </div>
    </div>
    <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
