<div style="padding: 60px 130px 60px 130px">
           <div class="inbox-form" id="custom-button">
        			<!-- <form method="post" action="#"> -->
        			<strong>LES BIKERS SOLIDAIRE</strong><br>
    
LES BIKERS SOLIDAIRES
Depuis 2014, les "Bikers Solidaires" financent un prix spécial aux associations régionales proposées par les salariés, dans les agences volontaires.
Le challenge consiste à réaliser le plus de kms à vélo, la fondation s'engage à donner un euro par km aux associations lauréates.
Score ébouriffant pour les bikers solidaires 2016, pas moins de 5 agences ont pédalé pour soutenir les associations locales, 
et ont récolté 5153 € avec cette année des opérations « coup de pédales » originales.<br>
<ul>
    <li>Paris, qui soutenait la Cie Varsorio, promotion de 
        la culture dans les quartiers par le théâtre de masques a
         inauguré les 24h des bikers, 24h non-stop avec animations et présence des « récipiendaires ».</li>
    <li>Ennevelin a concouru pour « nature et nous », 
        association lilloise d’éducation à la biodiversité, 
        les sessions de « cyclo-formations » (vélos installés dans les salles de formation) ont permis de lui donner 1234 €.</li>
    <li>Sophia a roulé pour Apis Campus, association de promotion de 
        ruches pédagogiques sur le campus de Sophia Antipolis sous 
        la houlette de Thomas. Le challenge de faire le parcours Sophia 
        Ennevelin a été largement dépassé, puisqu’ils sont même redescendus à 
        Paris (photo « trajetbikerssophia »). Apis campus a bénéficié d’une remise de 1248 €. Témoignage Thomas en dessous</li>
    <li>Lyon a bénéficié de l’aide de l’agence de Grenoble pour aider 
        l’association « réseau Etincelle », formation à l’esprit d’entreprendre 
        de jeunes décrocheurs qui s’implante en Rhône-Alpes. 1155€ collectés par les cyclogones.</li>
</ul>
           </div></div>
  <!--<div class="wrapper row4 bgded overlay" style="background-image:url('assets/images/03.png');">
      <footer id="footer" class="hoc clear"> -->
        <!-- ################################################################################################ -->
        <!--<div class="one_third first">
          <h6 class="heading">Adresse</h6>
          <ul class="nospace btmspace-30 linklist contact">
            <li><i class="fa fa-map-marker"></i>
              <address>
              Fondation Norsys Maroc, Sidi Abbad, villa 38, 40000 Marrakech
              </address>
            </li>
            <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
            <li><i class="fa fa-envelope-o"></i> itaaime@norsys.fr</li>
          </ul>
        </div>-->
        <!--<div class="one_third" id="contact_us">
          <h6 class="heading">Contactez-nous</h6>
          <form method="post" action="#">
            <fieldset>
              <input class="btmspace-15" type="text" value="" placeholder="Name">
              <input class="btmspace-15" type="text" value="" placeholder="Email">
              <input class="btmspace-15" type="text" value="" placeholder="Message">
              <button type="submit" value="submit">Envoyer</button>
            </fieldset>
          </form>
        </div>-->
        <!-- ################################################################################################ -->
      <!--</footer>
    </div>-->
    <div class="wrapper row5">
      <div id="copyright" class="hoc clear"> 
        <!-- ################################################################################################ -->
        <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved - <a >NORSYS</a></p>
      </div>
    </div>
    <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
