<div style="padding: 60px 130px 60px 130px">
           <div class="inbox-form" id="custom-button">
        			<!-- <form method="post" action="#"> -->
        			<strong>5ème édition du concours des "Trophées de la Fondation norsys", découvrez nos lauréats</strong><br>

Lauréat Ennevelin : Ecole de la 2ème Chance Flandre intérieure
Formation à l’emploi de jeunes sortis du système scolaire
Pour Le projet « Enseigner pour apprendre », programme d'éducation innovant,
 le premier en France, basé sur la méthode « LdL » (Lernen durch Lehren), 
 technique d'enseignement qui place l'élève en situation d'enseignant<br>

Lauréat Sophia : Comité départemental du Sport Adapté 06
Activités physiques pour enfants atteints de handicap psychique
Pour le projet "Toi + Moi, SPORT », parrainage sportif entre des enfants déficients intellectuels 
ou atteints de handicap psychique et des enfants « valides » afin de sensibiliser ces derniers au handicap.<br>

Lauréat Lyon : l'association ABC Diététique, née d’une volonté de changer
les représentations sur l’alimentation et les schémas négatifs en lien à une certaine diététique.
Pour le projet "les papilles en éveil», sensibilisation qui s’adresse aux enfants de 0 à 3 
ans et à leurs parents. Ce projet est composé de diverses interventions en crèches approchant 
des thématiques autour de l’alimentation de l’enfant : diversification alimentaire, apports recommandés,
 introduction des légumes, rythmes des repas. L'association veut également mettre en lien l’alimentation et 
 l’environnement en abordant la saisonnalité, le gaspillage alimentaire, à travers la création d’un potager dans la crèche.<br>

Lauréat Paris : l’Association Paris-Montagne , qui s'attache à faire découvrir 
    le monde de la recherche, à promouvoir la culture   scientifique, technique et
     industrielle et à encourager les passions pour les sciences. Elle se donne pour 
     mission de lutter contre les discriminations et s'adresse en priorité à des jeunes de milieux défavorisés.
Le projet consiste en un "festival des sciences" autour d'une problématique innovante 
transdisciplinaire afin de donner accès aux méthodes, métiers et résultats de la recherche 
scientifique. De jeunes chercheurs formés à la médiation scientifique animent des ateliers 
interactifs auprès de 650 participants, en collèges de ZEP, et lors d'une journée porte ouverte.
           </div></div>
  <!--<div class="wrapper row4 bgded overlay" style="background-image:url('assets/images/03.png');">
      <footer id="footer" class="hoc clear"> -->
        <!-- ################################################################################################ -->
        <!--<div class="one_third first">
          <h6 class="heading">Adresse</h6>
          <ul class="nospace btmspace-30 linklist contact">
            <li><i class="fa fa-map-marker"></i>
              <address>
              Fondation Norsys Maroc, Sidi Abbad, villa 38, 40000 Marrakech
              </address>
            </li>
            <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
            <li><i class="fa fa-envelope-o"></i> itaaime@norsys.fr</li>
          </ul>
        </div>-->
        <!--<div class="one_third" id="contact_us">
          <h6 class="heading">Contactez-nous</h6>
          <form method="post" action="#">
            <fieldset>
              <input class="btmspace-15" type="text" value="" placeholder="Name">
              <input class="btmspace-15" type="text" value="" placeholder="Email">
              <input class="btmspace-15" type="text" value="" placeholder="Message">
              <button type="submit" value="submit">Envoyer</button>
            </fieldset>
          </form>
        </div>-->
        <!-- ################################################################################################ -->
      <!--</footer>
    </div>-->
    <div class="wrapper row5">
      <div id="copyright" class="hoc clear"> 
        <!-- ################################################################################################ -->
        <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved - <a >NORSYS</a></p>
      </div>
    </div>
    <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
