<div style="padding: 60px 130px 60px 130px">
           <div class="inbox-form" id="custom-button">
        			<!-- <form method="post" action="#"> -->
        			<strong>AUTOMNE DE MARRAKECH</strong><br>

La fondation norsys marocaine a souhaité créer un événement 
    capable de créer un mouvement collectif qui dépasse ceux liés 
    aux projets menés au fil des années. Comment davantage sensibiliser
     la société civile et les entreprises à l’objet porté par la fondation 
     « faciliter l’accès à la connaissance pour mieux vivre » ? Comment donner 
     davantage envie aux associations d’unir moyens financiers et humains pour bâtir 
     des projets ambitieux ? Comment créer des dynamiques qui s’inscrivent dans la durée 
     ? Les événements nommés Printemps puis Automne de Marrakech ont cherché à y répondre.<br>

Cet événement s’étale sur une à deux semaines.
Il est ouvert et clôturé par des tables rondes dédiées au thème de l’événement.
Il intègre une succession d’actions concrètes en cohérence avec le thème de l’événement: Caravane médicale dans les villages par exemple.
Il fédère plus de 20 associations qui participent aux actions.
Il met en évidence les résultats de projets portés par la fondation.<br>

<ul>
    <strong> thèmes des Printemps de Marrakech organisés par la fondation, rebaptisés Automne de Marrakech à partir de 2011 :</strong>
    <li>Rencontres, culture et solidarité</li>
    <li> Regards de femmes</li>
    <li>Regards sur la nature</li>
    <li>Entreprendre dans un environnement sain</li>
    <li>Unir, servir pour pouvoir construire</li>
</ul><br>
Ensemble,…. Relevons le défi de la performance
           </div></div>
  <!--<div class="wrapper row4 bgded overlay" style="background-image:url('assets/images/03.png');">
      <footer id="footer" class="hoc clear"> -->
        <!-- ################################################################################################ -->
        <!--<div class="one_third first">
          <h6 class="heading">Adresse</h6>
          <ul class="nospace btmspace-30 linklist contact">
            <li><i class="fa fa-map-marker"></i>
              <address>
              Fondation Norsys Maroc, Sidi Abbad, villa 38, 40000 Marrakech
              </address>
            </li>
            <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
            <li><i class="fa fa-envelope-o"></i> itaaime@norsys.fr</li>
          </ul>
        </div>-->
        <!--<div class="one_third" id="contact_us">
          <h6 class="heading">Contactez-nous</h6>
          <form method="post" action="#">
            <fieldset>
              <input class="btmspace-15" type="text" value="" placeholder="Name">
              <input class="btmspace-15" type="text" value="" placeholder="Email">
              <input class="btmspace-15" type="text" value="" placeholder="Message">
              <button type="submit" value="submit">Envoyer</button>
            </fieldset>
          </form>
        </div>-->
        <!-- ################################################################################################ -->
      <!--</footer>
    </div>-->
    <div class="wrapper row5">
      <div id="copyright" class="hoc clear"> 
        <!-- ################################################################################################ -->
        <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved - <a >NORSYS</a></p>
      </div>
    </div>
    <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
