
    <!--<div class="wrapper bgded overlay" style="background-image:url('assets/images/apples.png');">
      <div id="pageintro" class="hoc clear"> 
        <!-- ################################################################################################ -->
        <!--<article>
          <h3 class="heading">Fondation Norsys</h3>
          <p>
            La fondation Norsys Afrique et une fondation active dans quatre domaines bien détérminé, l'éducation, l'environnement, l'accès à l'emplois et la santé.
        
          </p>
        </article>
      </div>
    </div>-->
<div style="padding: 60px 130px 60px 130px">
           <div class="inbox-form" id="custom-button">
        			<!-- <form method="post" action="#"> -->
        			<strong>MOT DU PRESIDENT DE LA FONDATION</strong><br>
« Dans la vie, il n’y a pas de solutions ; il y a des forces en marche : il faut les créer et les solutions suivent. » Antoine de Saint-Exupéry<br>
<strong> Pourquoi la Fondation ?</strong><br>
Ce n’est pas par hasard que la Fondation norsys est née au Maroc en 2001. Quelques années plus tôt, 
  en 1996, nous avions ouvert une filiale, norsys Afrique, à Marrakech. Il ne s’agissait pas de délocaliser norsys 
  pour profiter d’une main-d’œuvre moins onéreuse, puisque dans le même temps nous lancions aussi des agences à Paris 
  et à Lyon. Notre but était d’anticiper un mouvement inévitable dans notre secteur d’activité, mais également d’investir 
  dans ce pays émergent pour créer de la richesse et des emplois et pour accompagner, à notre échelle, le développement de ce pays.<br>
 Mais très vite, il nous est apparu que, dans une région ayant un niveau de vie moyen 
  encore largement inférieur au nôtre, fournir du travail à de jeunes diplômés en informatique 
  ne suffisait pas. Comment une entreprise comme la nôtre qui essaie de concilier les performances économiques,
   sociales et sociétales – la recherche de la performance globale – pouvait-elle agir aussi sur son environnement immédiat ?<br>
C’est en travaillant sur cette question avec des salariés que s’est rapidement imposée 
  l’idée d’une fondation, financée par l’entreprise, mais autonome par rapport à elle, gérée par une équipe
   indépendante et choisissant ses projets en toute transparence.<br>
<strong>Un objectif : l’accès à la connaissance</strong><br>
Restait à en définir l’objet et le champ d’action en cohérence avec 
  les valeurs et les finalités de l’entreprise. Au-delà des besoins fondamentaux de la vie comme pouvoir se nourrir, 
  se soigner, se loger, l’accès à la connaissance n’est-il pas devenu également un besoin essentiel ? Comment accéder à
   un emploi solide sans connaissances ? Comment comprendre le monde, ne pas se laisser manipuler par l’excès d’informations
    et d’images qui nous entourent sans posséder les bonnes clés de compréhension ?<br>
De nos débats d’alors a donc émergé une évidence. Notre fondation devait avoir pour objectif de
   « faciliter l’accès à la connaissance pour mieux vivre », et pour pratique de soutenir des projets visant à rendre 
   les personnes définitivement autonomes et maîtresses de leur existence plutôt que de se contenter de les secourir 
   ponctuellement et sans solutions d’avenir.<br>
<strong> Un juste retour d’expérience</strong><br>
Voici donc la fondation lancée, entièrement pilotée par une équipe marocaine et développant 
  des projets autour de l’école, de la santé et de l’agro écologie. Cependant, par un juste, mais inhabituel,
   retour des choses, cette expérience suscite de plus en plus d’intérêt de la part des salariés des sites français de norsys. 
   Pourquoi pas nous, demandent-ils ? N’y a-t-il pas aussi, autour de nous, à Lille, Paris, Lyon, Sophia Antipolis ou Nantes des attentes 
   sociétales à satisfaire ? La fondation ne doit-elle pas intervenir partout où norsys est implanté ?<br>
Au rebours des réflexes courants qui consistent à exporter les savoir-faire du Nord vers le Sud, c’est cette fois-ci une expérimentation née au Maroc dont nous pouvons nous 
  inspirer et que nous pouvons importer en France où la fondation commence ses activités en 2007 
  en se focalisant plutôt, elle, sur l’insertion économique de personnes fragilisées, dont les jeunes.<br>
<strong> Sylvain Breuzard </strong>
           </div></div>
  <!--<div class="wrapper row4 bgded overlay" style="background-image:url('assets/images/03.png');">
      <footer id="footer" class="hoc clear"> 
        <!-- ################################################################################################ -->
        <!--<div class="one_third first">
          <h6 class="heading">Adresse</h6>
          <ul class="nospace btmspace-30 linklist contact">
            <li><i class="fa fa-map-marker"></i>
              <address>
              Fondation Norsys Maroc, Sidi Abbad, villa 38, 40000 Marrakech
              </address>
            </li>
            <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
            <li><i class="fa fa-envelope-o"></i> itaaime@norsys.fr</li>
          </ul>
        </div>
        <div class="one_third" id="contact_us">
          <h6 class="heading">Contactez-nous</h6>
          <form method="post" action="#">
            <fieldset>
              <input class="btmspace-15" type="text" value="" placeholder="Name">
              <input class="btmspace-15" type="text" value="" placeholder="Email">
              <input class="btmspace-15" type="text" value="" placeholder="Message">
              <button type="submit" value="submit">Envoyer</button>
            </fieldset>
          </form>
        </div>-->
        <!-- ################################################################################################ -->
      <!--</footer>
    </div>-->
    <div class="wrapper row5">
      <div id="copyright" class="hoc clear"> 
        <!-- ################################################################################################ -->
        <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved - <a >NORSYS</a></p>
      </div>
    </div>
    <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
