    <div class="wrapper row2">
      <figure class="hoc container clear">
        <figcaption class="sectiontitle">
          <h6 class="heading">FORMULAIRE DE PRÉ-SÉLECTION DES PROJETS</h6>
        </figcaption>
        <div class="container" id="timeline_container">
        	<div class="grey-box">
        		<p class="arrowed-title">
        			<i class="fa fa-thumb-tack" aria-hidden="true"></i>
        			<strong>Informations sur le porteur du projet :</strong>
        		</p>
        		<div class="inbox-form" id="custom-button">
        			<form method="post" action="#">
			            <fieldset>
			              <input class="btmspace-15 long-input" type="text" value="" placeholder="Nom*">
			              <input class="btmspace-15 long-input" type="text" value="" placeholder="Prenom*">
			              <input class="btmspace-15 long-input" type="email" value="" placeholder="Email*">
			              <input class="btmspace-15 long-input" type="text" value="" placeholder="Tel*">
			            </fieldset>
			        </form>
        		</div>
        	</div>
        </div>
      </figure>
    </div>